<!-- 导航栏组件 -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="index.html">汤文杰</a>
        </div>
        <div class="nav-links">
            <a href="index" class="active">主页</a>
            <a href="online_resume">在线简历</a>
            <a href="#projects">项目经验</a>
            <a href="blog">博客文章</a>
        </div>
        <div class="theme-toggle">
            <i class="fa fa-moon-o" id="theme-icon"></i>
        </div>
        <div class="menu-toggle">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</nav>